name: Create draft release

on:
  push:
    branches: [main]
    paths: [CHANGELOG.md]

permissions:
  contents: write

jobs:
  draft-release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Get the latest version
      id: latest
      uses: miniscruff/changie-action@v2
      with:
        args: latest

    - name: Create release draft
      uses: softprops/action-gh-release@v2
      with:
        draft: true
        name: ${{ steps.latest.outputs.output }}
        tag_name: ${{ steps.latest.outputs.output }}
        body_path: .changes/${{ steps.latest.outputs.output }}.md
