name: Prepare release PR

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version to release
        required: false
        default: 'auto'
        type: string

permissions:
  contents: write
  pull-requests: write

jobs:
  generate-pr:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Batch changes
      uses: miniscruff/changie-action@v2
      with:
        args: batch ${{ inputs.version }}

    - name: Merge changes
      uses: miniscruff/changie-action@v2
      with:
        args: merge

    - name: Get the latest version
      id: latest
      uses: miniscruff/changie-action@v2
      with:
        args: latest

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v8
      with:
        title: Release ${{ steps.latest.outputs.output }}
        branch: release/${{ steps.latest.outputs.output }}
        commit-message: Release ${{ steps.latest.outputs.output }}
        token: ${{ secrets.GITHUB_TOKEN }}
