name: CI
on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:

  build:
    name: Build and test
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Check out repository
        uses: actions/checkout@v6
        if: ${{ github.event_name != 'pull_request' }}
      - name: Check out PR branch
        if: ${{ github.event_name == 'pull_request' }}
        uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      - name: Set up mise
        uses: jdx/mise-action@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Build dist
        run: bun run build

      # Only verify on main
      - name: Verify dist status
        if: ${{ github.ref == 'refs/heads/main' }}
        run: |
          if [ "$(git diff --ignore-space-at-eol dist/ | wc -l)" -gt "0" ]; then
            echo "dist is out of date:"
            git diff
            exit 1
          fi

      # For PRs, push the dist changes back to the PR branch.
      - name: Push dist changes
        if: ${{ github.event_name == 'pull_request' }}
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "Update dist"

      - name: Lint
        run: bun run lint

      - name: Test
        run: bun test

  test-install:
    runs-on: ubuntu-latest
    name: "Test / install"
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        id: stitchmd
        with:
          mode: install
      - run: |
          ${{ steps.stitchmd.outputs.install-path }} -version

  test-check:
    runs-on: ubuntu-latest
    name: "Test / check / success"
    steps:
      - uses: actions/checkout@v6
      - uses: ./
        with:
          summary: doc/README.md
          output: README.md

  test-write:
    runs-on: ubuntu-latest
    name: "Test / write"
    steps:
      - uses: actions/checkout@v6
      - run: |
          echo oops > README.md
      - uses: ./
        with:
          summary: doc/README.md
          output: README.md
          mode: write
      - run: |
          if ! git diff --quiet; then
            echo "Files have changed:"
            git status
            echo "::group::Diff"
            git diff
            echo "::endgroup::"
            exit 1
          fi

  test-check-fail:
    runs-on: ubuntu-latest
    name: "Test / check / fail"
    continue-on-error: true
    steps:
      - uses: actions/checkout@v6
      - run: |
          echo oops > README.md
      - uses: ./
        id: stitchmd
        with:
          summary: doc/README.md
          output: README.md
          check-can-fail: true
      - run: |
          if [[ "${{ steps.stitchmd.outputs.check-failed }}" != "true" ]]; then
            echo "Check did not fail"
            exit 1
          fi
